
.card {
  box-shadow: 0 0 5px #ccc;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 5px #ccc;
  transform: scale(1.10);
}

/* .Home .card {
  transition: transform 0.2s ease-in-out;
}
  
.Home .card:hover {
  box-shadow: 0 0 5px #ccc;
  transform: translateY(-5px);
  transform: scale(1.20);
} */


